{
  "rules": {
    "users": {
      "$userId": {
        // Allow a user to read their own document
        "allow read": "if request.auth.uid == $userId || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true || exists(/databases/$(database)/documents/users/$(request.auth.uid));",
        // Allow a user to write to their own document, or an admin to write to any user document
        "allow write": "if request.auth.uid == $userId || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;",

        "config": {
          "allow read, write": "if request.auth.uid == $userId;"
        },
        "admin": {
          "allow read, write": "if request.auth.uid == $userId || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;"
        },
        "favorites": {
          "allow read, write": "if request.auth.uid == $userId;"
        },
        "diaryEntries": {
          "allow read, write": "if request.auth.uid == $userId;"
        },
        "subscriptions": {
          "allow read": "if request.auth.uid == $userId;"
        }
      }
    },
    "ads": {
      ".read": true,
      ".write": "if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true"
    },
    "siteContent": {
      ".read": true,
       ".write": "if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true"
    },
    "hatimGroups": {
      ".read": true,
      ".write": "if request.auth != null"
    },
    "contactSubmissions": {
      ".read": "if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true",
      ".write": true
    },
    "subscriptionPlans": {
       ".read": true,
       ".write": "if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true"
    }
  }
}
